{:deps
 {org.clojure/clojure {:mvn/version "1.9.0"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha "5fb4fc46ad0bf2e0ce45eba5b9117a2e89166479"}}
   :main-opts ["-m" "cognitect.test-runner"]}

 :uberjar
  {:extra-deps
   {pack/pack.alpha
    {:git/url "https://github.com/juxt/pack.alpha.git"
     :sha     "6ef0e459eb3a6eaaf0fbc937d46d2854692629b7"}}
   :main-opts ["-m" "mach.pack.alpha.capsule" "-d" "deps.edn" "target/mach-demo.jar"]}}}
